global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon
{% if haproxy_global_tune_bufsize | string | length > 0 %}
	tune.bufsize {{ haproxy_global_tune_bufsize }}
{% endif %}

	# Default SSL material locations
	ca-base {{ haproxy_global_ssl_ca_base }}
	crt-base {{ haproxy_global_ssl_crt_base }}

	# See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
	ssl-default-bind-ciphers {{ haproxy_global_ssl_ciphers | join(':') }}
	ssl-default-bind-ciphersuites {{ haproxy_global_ssl_ciphersuites | join(':') }}
	ssl-default-bind-options {{ haproxy_global_ssl_options | join(' ') }}

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http
