[Unit]
Description=Garage Server
Documentation=https://garagehq.deuxfleurs.fr/
Wants=network-online.target
After=network-online.target

[Service]
User={{ garagehq_user }}
Group={{ garagehq_group }}
EnvironmentFile=-{{ garagehq_env_file }}
ExecStart={{ garagehq_bin_path }} -c ${GARAGE_CONFIG} server
Restart=always
RestartSec=5
LimitNOFILE=65536
WorkingDirectory={{ garagehq_var_dir }}

# Quick sanity checks
ExecStartPre=/usr/bin/test -x {{ garagehq_bin_path }}
ExecStartPre=/usr/bin/test -r {{ garagehq_config_file }}

[Install]
WantedBy=multi-user.target
