{% if nginx_real_ip_set_from is defined and nginx_real_ip_set_from | length > 0 and nginx_real_ip_lists is not defined %}
{% for entry in nginx_real_ip_set_from %}
set_real_ip_from	{{ entry }};
{% endfor %}

{% endif %}
{% if nginx_real_ip_lists is defined and nginx_real_ip_lists | length > 0 %}
{% for list in nginx_real_ip_lists %}
{% for set in prefix_list if set.name == list %}
{% for prefix in set.prefixes %}
set_real_ip_from	{{ prefix.net }}; # {{ set.name }}{% if prefix.remark is defined %} - {{ prefix.remark }}{% endif %}{{ '' }}
{% endfor %}
{% endfor %}
{% endfor %}

{% endif %}
real_ip_header		"{{ nginx_real_ip_header | default('X-Forwarded-For') }}";
real_ip_recursive	{% if nginx_real_ip_recursive | default('false') | bool %}on{% else %}off{% endif %};
