ssl_protocols			{{ nginx_ssl_protocols | join(' ') }};
ssl_ciphers			{{ nginx_ssl_ciphers | join(':') }};
ssl_session_cache		{{ nginx_ssl_session_cache }};
ssl_prefer_server_ciphers	{% if nginx_ssl_prefer_server_ciphers | bool %}on{% else %}off{% endif %};
ssl_dhparam			{{ nginx_ssl_dhparam_file }};
